:root {
  --bg-protected: #bde3ff;
  --bg-public: #fce5c5;

  --color-txt: #0f0f0f;
  --filled-color: #fff;
  --empty-bg: #fff;
  --highlight-color: #d0d0ff;

  --white: #fff;
  --orange: #f24822;
  --black: #000;

  --logo-size: 70vw;
  --input-height: 4rem;
  --button-height: 3rem;

  --border-radius: 5px;

  --standard-spacing: 1.5rem;
  --gap-0: 0rem;

  --font-size: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;

  line-height: 1;
  font-weight: 400;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.container-v {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container-h {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container-vh,
.container-hv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-container {
  display: flex;
  flex-direction: column;
}

.v-container-v {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.v-container-h {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.v-container-vh,
.v-container-hv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  color: var(--empty-bg);
}

p {
  font-size: small;
}

a {
  font-weight: 600;
  color: var(--highlight-color);
  text-decoration: underline;
}

a:hover,
a:visited {
  color: rgba(255, 240, 200, 0.9);
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  place-items: center;
}

.scrollable {
  overflow-y: scroll;
  flex: 1 1 0;
}

form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

button {
  background-color: rgb(54, 102, 100);
  border: none;
}

header .logo {
  width: 20vw;
  min-width: 10vh;
  max-width: 20vh;
  height: auto;
}
