body {
    height: 80vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: rgb(54, 102, 100);
  }

  .container {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.provider-sign-in {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

header {
  text-align: center;
  flex: 0 1 auto;
}

header img {
  width: 20%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  #login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
  }

  input {
    width: 80%;
    padding: 12px 20px;
    margin: 1% 0px;
    /* box-sizing: border-box; */
    border-radius: 4px;
  }
  input:focus {
    border: 3px solid #555;
  }

  .provider-sign-in {
    margin-top: 2rem;
  }

  button {
    background-color: rgb(54, 102, 100);
    border: none;
  }

  #register-btn {
    background-color: rgb(54, 102, 100);
    border: none;
    text-decoration: none;
  }

  
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:link {
    color: black;
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }
  a:hover {
    color: blue;
  }

  #card {
    position: relative;
    top: 110px;
    width: 320px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}

#upper-side {
  padding: 2em;
  background-color: #8BC34A;
  display: block;
  color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
#checkmark {
  font-weight: lighter;
  fill: #fff;
  margin: -3.5em auto auto 20px;
}
#status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  margin-top: -0.2em;
  margin-bottom: 0;
}
#lower-side {
  padding: 2em 2em 5em 2em;
  background: #fff;
  display: block;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
#message {
  margin-top: -0.5em;
  color: #757575;
  letter-spacing: 1px;
}
#contBtn {
  position: relative;
  top: 1.5em;
  text-decoration: none;
  background: #8bc34a;
  color: #fff;
  margin: auto;
  padding: 0.8em 3em;
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  border-radius: 25px;
  transition: all 0.4s ease;
}
#contBtn:hover {
  box-shadow: 0px 15px 30px rgba(60, 60, 60, 0.4);
  transition: all 0.4s ease;
}